@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Permanent+Marker&family=Russo+One&display=swap");

.my-name {
  font-family: "Russo One", sans-serif;
  font-size: 60px;
}

@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  .my-name {
    font-size: 40px;
  }
  .main > h1 {
    font-size: 30px;
  }
}
